.header-wrapper{
    margin: 0 13%;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.header-container .search-container img{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 15px;
    left: 21px;
}
.header-container .search-container input{
    padding: 15px 15px 15px 50px;
    border: 1px solid #e3e7f3;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

li.active{
    background-color: #849fff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}