.formContainer{
    display: flex;
    flex-direction: column;
    padding: 30px 70px;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 100px;
    gap: 28px;
    background: rgba(0,0,0,0.5);
    color: white;
    .error {
        color: red;
        font-size: 12px;
        margin-top: 4px;
        display: block;
      }
    .nameDetailsContainer, .bookingDetailsContainer{
        display: flex;
        justify-content: space-between;
    }
    .contactDetails{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    span{
        font-size: 14px;
    }
    .preferenceDetails{
        display: flex;
        gap: 30px;
    }
    .checkBoxContainer{
        display: flex;
        flex-direction: column;
        p{
            margin-bottom: 10px;
        }
        .checkboxWrapper{
            display: flex;
            gap: 40px;
        }
    }
    .btnContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        position: relative;
        .increaseBtn, .decreaseBtn{
            position: absolute;
            background: none;
            border: none;
            color: white;
            top: 30px;
        }
        .increaseBtn{
            left: 79px;
        }
        .decreaseBtn{
            left: -9px;
        }
        .increaseBtn:hover{
            cursor: pointer;
        }
        .decreaseBtn:hover{
            cursor: pointer;
        }
    }
    .submitBtn{
        padding: 10px 12px;
        border: none;
        background: #FF6B00;
        color: white;
        margin: 0 auto;
        border-radius: 25px;
        
    }
    
}
