.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    font-size: 14px;
  }
  input {
    cursor: pointer;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid white;
    background: none;
    color: white;
  }
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
  }
  
  input:focus {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background: transparent !important;
  }
}
