
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: #4b5061;
    
}
ul li{
    padding: 10px;
}
li:hover{
    cursor: pointer;
    background-color: #849fff;
    color: white;
    border-radius: 5px;
}